
.potos img{ width: 100%; margin-bottom: 40px;}
.main{width:990px; margin: 0 auto;}




.main .left{width: 175px; background: url(../images/wen_07.jpg) no-repeat left:2px:top:20px; height:631px; border: 1px solid #e2e2e2; margin-right: 23px; float: left; position: relative; }
.main .left h3{height:41px; line-height: 41px; font-size: 17px; text-align: center; position: absolute; left:18px; top:-2px; color: #696969;}
.main .left li{ background:url(../images/wenhua_22.jpg) no-repeat 5px 16px;position: relative; height:27px; width: 145px; margin-left:20px; padding: 6px 0; line-height:27px; border-bottom: 1px dashed #a39f9c;}
.main .left li a{ font-size: 12px; position: absolute; left: -7px; color:#8a8a8a;  display: block;  text-indent: 30px;height:27px; line-height:27px;  }

.main .left li:nth-of-type(8) a{background:url(../images/wenhua_11.jpg) no-repeat 10px 10px,url(../images/wenhua_14.jpg) no-repeat 160px 10px #b61d22; color: white; width: 173px; }
.main .left li:hover a{background:url(../images/wenhua_11.jpg) no-repeat 10px 10px,url(../images/wenhua_14.jpg) no-repeat 160px 10px #b61d22; color: white; width: 173px;}


.right{width: 790px; float: left;}
.right .top{height:43px; background:url(../images/wenhua_06_03.jpg) repeat-x; margin-bottom: 41px;}
.right .top h4{ font-size: 15px; float: left;}
.right .top p{font-size: 12px; float: right;}

.right .center{background:url(../images/wen.6_03.jpg) repeat-x ; margin-bottom: 28px;}
.right .center p{width: 210px; margin-left: 44px; float: left; margin-top: 25px;background: #FFFFFF; }
.right .center img{padding:5px;border: 1px solid #CCCCCC;}
.right .center span{display: block; text-align: center;}
.right .down{background:url(../images/wen.6_03.jpg) repeat-x ; margin-bottom: 28px;}
.right .down p{width: 215px; float: left;margin-left: 44px; margin-top: 25px;background: #FFFFFF; }
.right .down img{padding:5px;border: 1px solid #CCCCCC;}
.right .down span{display: block; text-align: center;}
.right p a{display:inline-block; font-size:15px;  padding:5px; color: #000000; }
.right p a:last-of-type:hover{border: 1px solid #CCCCCC; background:#dddddd; color:#f3f3f3;}
.right p a:first-of-type:hover{border: 1px solid #CCCCCC; background:#dddddd; color:#f3f3f3;}
.right p a:nth-of-type(3):hover{border: 1px solid #CCCCCC; background:#dddddd; color:#f3f3f3;}
.right p a:nth-of-type(4):hover{border: 1px solid #CCCCCC; background:#dddddd; color:#f3f3f3;}

.right p{ width:220px; margin-left:278px; }
